.announcement{
  width: 100vw;
  background-color:teal;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.announcement__title{
  font-size: 1.8rem;
  color: white;
}